# Ingnore anki package files
# These files should be generated dynamically by the custom_anki_format program
*.apkg

# Sometimes creating a quick copy of a file as a backup can be helpfull
# We do not want to track any of these files 
*.bak
